@model IEnumerable<Model.Funcionario>

@{
    ViewBag.Title = "ListaFuncionario";
}

<h2>Funcionários</h2>

<div class="modal" id="modal2">

</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            <a href="@Url.Action("Index", "Home/inserirFuncionario")"
               class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">Novo Cliente</span>
            </a>
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center">@Html.DisplayNameFor(model => model.IdFuncionario)</th>
                        <th> @Html.DisplayNameFor(model => model.NomeFuncionario)</th>
                        <th>@Html.DisplayNameFor(model => model.EmailFuncionario)</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.IdFuncionario)</td>
                            <td> @Html.DisplayFor(modelItem => item.NomeFuncionario)</td>
                            <td>@Html.DisplayFor(modelItem => item.EmailFuncionario)</td>
                            <td class="text-center">

                                <a href="@Url.Action("EditarFuncionario", "Home", new { id = item.IdFuncionario })" class="btn btn-success btn-circle btn-sm">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>

                                <a href="@Url.Action("VisualizarFuncionario", "Home", new { id = item.IdFuncionario })" class="btn btn-warning btn-circle btn-sm">
                                    <i class="fas fa-info"></i>
                                </a>

                                <button class="btn btn-danger btn-circle btn-sm delete" data-id="@item.IdFuncionario"><i class="fas fa-trash"></i></button>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

