@model Model.Cliente

@{
    ViewBag.Title = "Visualizar";
}

<h2 class="ml-3">Visualizar Cliente</h2>
<hr />
<div class="col-md-3">
    <dl class="dl-horizontal ml-3">
        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <hr class="" />
        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.IdTelefone)
        </dt>
        <hr class="" />
        <dd>
            @Html.DisplayFor(model => model.IdTelefone)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.TipoTelefone)
        </dt>
        <hr class="" />
        <dd>
            @Html.DisplayFor(model => model.TipoTelefone)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.Ddd)
        </dt>
        <hr class="" />
        <dd>
            @Html.DisplayFor(model => model.Ddd)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.NumeroTel)
        </dt>
        <hr class="" />
        <dd>
            @Html.DisplayFor(model => model.NumeroTel)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.IdClienteFkTelefone)
        </dt>
        <hr class="" />
        <dd>
            @Html.DisplayFor(model => model.IdClienteFkTelefone)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.IdEndereco)
        </dt>
        <hr class="" />
        <dd>
            @Html.DisplayFor(model => model.IdEndereco)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <hr class="" />
        <dd>
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <hr class="" />
        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <hr class="" />
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <hr class="" />
        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <hr class="" />
        <dd>
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <hr class="" />
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <hr class="" />
        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.IdClienteFkEndereco)
        </dt>
        <hr class="" />
        <dd>
            @Html.DisplayFor(model => model.IdClienteFkEndereco)
        </dd>

        <hr class="" />
    </dl>
</div>

<div class="row">
    <div class="col-md-2">
        <a href="@Url.Action("Index", "Home/")"
           class="btn btn-danger btn-icon-split ml-3">
            <span class="text">Voltar</span>
        </a>
    </div>
    <div class="col-md-1">
        <a href="@Url.Action("Editar", "Home", new { id = Model.IdCliente })"
           class="btn btn-warning btn-icon-split ml-3">
            <span class="text">Editar</span>
        </a>
    </div>
</div>