@model Model.Cliente

@{
    ViewBag.Title = "Visualizar";
}

<h2 class="ml-3">Visualizar Cliente</h2>


<hr />
<div class="col-md-3">
    <dl class="dl-horizontal ml-3">
        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <hr class="" />
        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <hr class="" />
    </dl>
</div>

<div class="row">
    <div class="col-md-2">
        <a href="@Url.Action("Index", "Home/")"
           class="btn btn-danger btn-icon-split ml-3">
            <span class="text">Voltar</span>
        </a>
    </div>
    <div class="col-md-1">
        <a href="@Url.Action("Editar", "Home", new { id = Model.IdCliente })"
           class="btn btn-warning btn-icon-split ml-3">
            <span class="text">Editar</span>
        </a>
    </div>
</div>